body {
    display: flex;
    flex-direction: column;
}
#shopping-list-info-bar {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: space-between;
}
#main-list-wrapper {
    border: 3px solid #aaaaaa;
    border-radius: 5px;
    margin: 0 1em;
    padding: 1em;
}
#item-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}
.product-row-container {
    display: flex;
    flex-direction: row;
}
.shopping-item {
    background: none;
    border: none;
    border-radius: 5px;
    max-width: 250px; /*needs a better unit for size*/
    padding: 8px;
}
.shopping-item:hover {
    background-color: #cccccc;
    cursor: pointer;
}
.product-image {
    max-width: 100%;
}
.product-description {
    display: hidden;
}