body {
    display: flex;
    flex-direction: column;
}
#shopping-list-info-bar {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: space-between;
}
#cart-button {
    border: none;
    background: none;
}
#cart-button:hover {
    cursor: pointer;
}
#shop-button {
    border: none;
    background: none;
}
#shop-button:hover {
    cursor: pointer;
}
#settings-button {
    border: none;
    background: none;
    float: right; 
}
#settings-button:hover {
    cursor: pointer;
}
#helpful-hint {
    font-style: italic;
    text-transform: lowercase;
}
#helpful-hint, #item-counter {
    margin-bottom: 0;
    padding: 0;
}
#main-list-wrapper {
    border: 3px solid #aaaaaa;
    border-radius: 5px;
    margin: 0 1em;
    padding: 1em;
    margin-bottom: 50px;
}
#item-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.product-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shopping-item {
    background: none;
    border: none;
    border-radius: 5px;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 350px; /*needs a better unit for size*/
    margin: 0em .6em .3em .6em;
    padding: 8px;
}
.shopping-item + .shopping-item {
    margin-top: .3em;
}
.shopping-item:hover {
    background-color: #cccccc;
    cursor: pointer;
    box-shadow: inset 1px 1px 3px #0000003b;
}
.shopping-item:active {
    background-color: #aaaaaa;
}
.product-image {
    max-width: 100%;
}
.product-title {
    font-family: 'Palette Mosaic', cursive;
}
.desc-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 0;
    width: 80%;
    border: 3px solid #aaaaaa;
    border-radius: 5px;
    padding: .15em;
}
#add-cart-button {
    border: 2px solid #000000;
    border-radius: 3px;
    padding: 3px;
    background: #4fc24f;
}
#add-cart-button:hover {
    background: #5fd265;
}
#add-cart-button:active {
    background: #238a28;
}
#numField {
    width: 10%;
    text-align: center;
}
#ord-total {
    width: 15%;
    text-align: center;
}
/* mobile view */

@media all and (max-width: 600px) {
    #item-list {
        align-items: center;
        overflow: scroll;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;

    }
    .shopping-item {
        background: none;
        border: none;
        border-radius: 5px;
        max-width: 250px; /*needs a better unit for size*/
        margin: 0;
        padding: px;
    }
    .shopping-item + .shopping-item {
        margin: 0;
    }

}