#mobile-item-view {
    border: 3px solid #aaaaaa;
    border-radius: 5px;
    margin: 0 1em;
    margin-top: 1em;
    padding: 1em;
}

#mobile-item-description {
    display: flex;
    flex-direction: row;
}

#temp-text {
    display: block;
    justify-content: space-around;
    text-align: center;
}

.mobile-product-image {
    max-width: 100%;
}

.mobile-product-title {
    font-family: 'Palette Mosaic', cursive;
    font-size: 1.3em;
    margin-left: 2em;
}

.invisible {
    display: none;
}